main {
    background-color: white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gameslist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

}

.importanttext {
    color: royalblue;
}

header {
    font-size: 30px;
    color: white;
    background-color: black;
}

.space {
    grid-template-rows: auto;
}

.gamePageImageText {
    display: grid;
    grid-template-columns: auto 1fr;
}